<app-management-shell
  title="Banners"
  subtitle="Create and manage homepage banners"
  newLabel="New Banner"
  (create)="toggleCreate()"
>
  <!-- form slot -->
  <div form *ngIf="showForm" class="mb-6">
    <div class="bg-white rounded-xl p-6 shadow border">
      <h4 class="font-semibold mb-3">{{ editMode ? 'Edit Banner' : 'Create New Banner' }}</h4>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-3">
        <label class="block text-sm font-medium text-gray-700 mb-1">Title</label>
        <input formControlName="title"  class="w-full border rounded px-3 py-2" />
        <label class="block text-sm font-medium text-gray-700 mb-1">Link</label>
        <input formControlName="redirectUrl"  class="w-full border rounded px-3 py-2" />

        <div>
          <label class="block mb-1 text-sm">Image</label>
          <input type="file" (change)="onFileChange($event)" class="w-full border rounded px-3  py-2" />
        </div>

        <div class="flex gap-4 items-center">
          <label class="block mb-1 text-sm">Order</label>
          <input formControlName="orderNo" type="number" placeholder="Order" class="w-[500px] border rounded px-3 py-2" />
          <label class="inline-flex items-center gap-2">
            <input type="checkbox" formControlName="active" /> Active
          </label>
        </div>

        <div class="flex gap-3 mt-4">
          <button class="px-4 py-2 bg-blue-600 text-white rounded-lg h-10 w-15 items-center justify-center">{{ editMode ? 'Save' : 'Create' }}</button>
          <button type="button" (click)="cancel()" class="px-4 py-2 border rounded-lg h-10 w-15 items-center justify-center">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <!-- list slot -->
  <div list>
    <app-list-card
      [items]="banners"
      titleKey="title"
      orderKey="orderNo"
      activeKey="active"
      (edit)="startEdit($event)"
      (delete)="deleteBanner($event)"
    />
  </div>
</app-management-shell>
